<section id="about" class="about section-bg1">
  <div class="container">
    <div class="row">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
      <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column">
          <h3>How does ClearTerms work?</h3>
          <div class="row">
            <div class="col-md-6">
              <!-- <i class="bx bx-receipt"></i> -->
              <h4>Pairwise comparison</h4>
              <p>Rather than asking volunteers to read entire documents and flag all of the important terms,
                <span class="emphasis">ClearTerms breaks the complex task into small parts;</span> individuals only need to compare two items at a time.</p>
            </div>
            <div class="col-md-6">
              <!-- <i class="bx bx-images"></i> -->
              <h4>Open definition of "importance"</h4>
              <p>Existing solutions use pre-defined criteria, which may innaccurately reflect what people really care about.</p>
               <p>We do not assume a priori what consumers find important. Instead, we let individuals define “importance” on their own terms - and it turns out that <span class="emphasis">people tend to agree.</span></p>
            </div>
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <%= link_to "Frequently Asked Questions", faq_path, class: "btn-get-started" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>