<section class="section section-bg1">
  <div class="container section-bg2" id="add-company">
    <div class="section-title">
      <br>
      <h3 data-aos="fade-in">Add a Company</h3>
    </div>
    <h4> Copy/paste the terms & conditions from any e-commerce* website. <br> We’ll show you the results. </h4>
    <br>
    <div id="add-company-desciption">
      <p>* <a href="https://en.wikipedia.org/wiki/E-commerce" class="link" target="_blank">E-commerce</a> is defined broadly as any website that sells products. </p>
      <p>Since the algorithm was made with e-commerce sites in mind, it works best on them. However, it will still yield results for other types of sites - try it out and 
      <a href="mailto:cleartermscontact@gmail.com">let us know</a> how it goes! </p>
      <div id="add-company-form">
        <textarea>paste the entire document...</textarea>
        <input type="submit" class="btn-submit" value="Test it!">
      </div>
    </div>
  </div> 
</section>
