<div class="container">
  <section class="section section-bg1">
    <div class="container section-bg2" id="crowd-inner">
      <div class="section-title">
        <br><br><br>
        <h3 data-aos="fade-in">Participate</h3>
        <p>Help us improve our ML model by ranking some terms & conditions.</p><br><br>
        <p>Click the statement that you think is more important for you, 
            a customer browsing the website, to know.</p>
        <br>
        <p> The following two terms&conditions are from: 
            https://www.geekbuying.com/help/customer_service/return_policy</p>
        <br>
        <div class="row">
          <div class="statement left" id="s-left" onclick="selectStatementLeft()"> 
            <h4 class="statement-title"> Statement 1: </h4>
            <p class="statement-description">
              GeekBuying will be in charge of all the repair handling
              fees and non-artificial defective component replacement
              charges (this free repair rule does not apply to
              motherboard & screen).</p>
          </div>
          <div class="statement right" id="s-right" onclick="selectStatementRight()"> 
            <h4 class="statement-title"> Statement 2: </h4>
              <p class="statement-description">
                Geekbuying sincerely suggests every respected customer
                to read the following regulations carefully 
                before purchase.</p>
          </div>
        </div>
        <div class="statement-equal" id="s-bot" onclick="selectStatementBot()"> 
          <p class="statement-description">Both statements are equally important.</p>
        </div>
        <input type="submit" class="btn-submit" id="s-submit" value="Submit">
      </div>
    </div>
  </section>
</div>