<%= render partial: "hero" %>

  <main id="main">
    <%= render partial: "index_about" %>
    <%= render partial: "slider" %>
  </main>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>