<%= render partial: "hero" %>

  <main id="main">
    <%= render partial: "index_about" %>

    <!-- ======= Slider Section ======= -->
    <section id="services" class="about section-bg2">
      <div class="container">

        <div class="row">
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column">
              <h3>Hundreds of ecommerce sites, with terms ranked by users like you.</h3>
            </div>
          </div>
        </div>
        <br>
        <!-- slick slider here -->
        <div class="row centermode-slick">
            <div class="slick-item"><a href="company.html">
              <img src="assets/img/uniqlo_logo.png" alt="company placeholder"></a>
            </div>
            <div class="slick-item"><a href="company2.html">
              <img src="assets/img//Samsung-logo-2017-square.png" alt="website placeholder"></a>
            </div>
            <div class="slick-item"><a href="company3.html">
              <img src="assets/img/logitech-squarelogo.png" alt="website placeholder"></a>
            </div>
            <div class="slick-item"><a href="#">
              <img src="assets/img/company-placeholder.png" alt="website placeholder"></a>
            </div>
            <div class="slick-item"><a href="company4.html">
              <img src="assets/img/hp-logo.png" alt="website placeholder"></a>
            </div>
            <div class="slick-item"><a href="company5.html">
              <img src="assets/img/selfridges.png" alt="website placeholder"></a>
            </div>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
          <a href="crowd.html" class="btn-get-started">Help Us Rank Terms & Conditions</a>
        </div>
        <br>
        <div class="d-flex justify-content-center">
          <a href="crowd.html" class="btn-get-started">Browse Companies</a>
        </div>
      </div>
    </section><!-- End Slider Section -->

  </main>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>