<main id = "individual-company">
    <div class="container">
      <%= render partial: "company_info" %>
      <%= render partial: "important_terms" %>
      <%= render partial: "view_in_context" %>
      <br>
      <br>
      <br>
    </div>
</main>