<section id="about-us">
  <div id="team-info">
    <h3 data-aos="fade-in">About Us</h3>
    <br>
    <p> This project was led by <a href="http://www.cs.cmu.edu/~jasonh/" target="_blank">Jason Hong</a>. Annabel Sun and Bruce Xingyu Liu did the bulk of the work in developing
        the method, collecting data from the crowd, and analyzing the results. This web site was designed and built by Raymond Li, Wen Shan Jiang, and Stacy Kellner. </p>
    <p> There have also been many other students who have helped with data analysis or refining our models, including Angelia, Arpita Agrawal, Chaiwut Chaianuchittrakul, Lu Chen, Jonathan Dinu, Jineet Doshi, 
        Shawn Hanna, Brandon Jiang, Jennifer Kong, Siddharth Nair, Rajat Pandey, Alex Sciuto, Kunal Sekhri, Seoyeon Sim, Sarah Shy, Weijia Sun. </p>
    <p> This research was funded in part by the National Science Foundation (CNS-1422018). The views and conclusions contained in this web site
        are those of the authors and should not be interpreted as representing the official policies, either expressly or implied, of the National
        Science Foundation or the U.S. Government.</p>
    <br><br>
    <p>Have a question about ClearTerms? <a href="mailto:cleartermscontact@gmail.com">Contact Us.</a></p>
  </div>
</section>