<footer id="footer">
  <div class="container footer-top">
    <div class="row justify-content-left">
      <div class="col-lg-4">
        <h3>ClearTerms</h3>
        <br>
        <div><%= link_to 'Contact Us', about_path %></div>
        <div><%= link_to 'Frequently Asked Questions', faq_path %></div>
        <div><%= link_to 'Help Us', help_path %></div>
        <div><a href="http://3.210.81.13/about_us">CHIMPS Lab</a></div>
      </div>
    </div>
  </div>
  <div class="container footer-bottom clearfix">
    <div class="copyright">
        <!-- &copy; Copyright <strong><span>ClearTerms</span></strong>. All Rights Reserved -->
    </div>
  </div>
</footer>